bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.text editor/.idea/vcs.xml
/.idea/.idea.text editor/.idea/misc.xml
/.idea/.idea.text editor/.idea/indexLayout.xml
/.idea/.idea.text editor/.idea/encodings.xml
/.idea/.idea.text editor/.idea/discord.xml
/.idea/.idea.text editor/.idea/.gitignore
